@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "amspiro1";
  src: url("./assets/fonts/font1.woff2") format("truetype");
}
@font-face {
  font-family: "amspiro2";
  src: url("./assets/fonts/font2.woff2") format("truetype");
}
@font-face {
  font-family: "amspiro3";
  src: url("./assets/fonts/font3.woff2") format("truetype");
}
@font-face {
  font-family: "amspiro4";
  src: url("./assets/fonts/font4.woff2") format("truetype");
}
@font-face {
  font-family: "amspiro5";
  src: url("./assets/fonts/font5.woff2") format("truetype");
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.hover\:shadow-glow:hover {
  box-shadow: 0 0 20px 10px rgba(59, 130, 246, 0.6);
}
